

<div class="" ng-controller="LoginCtrl">

    <div style='padding-top:50px' class="container">
      <div class="col-sm-4">
          <div class="list-group">
            <a href="https://login.salesforce.com/services/oauth2/authorize?response_type=token&client_id=3MVG9sG9Z3Q1Rlbdh8cds.P2v.Fv9AhIQiKXoVWXXMQSwbjLsY1qdBewcq0adiFZzhe45gIyQmqVvD5KdhDeQ&redirect_uri=http%3A%2F%2Flocalhost%3A9000%2Flogin" class="list-group-item">Authenticate with Salesforce</a>
            <a href="#" class="list-group-item">Authenticate with Google</a>
            <a href="#" class="list-group-item">Authenticate with Dropbox</a>
          </div>
        </div>


    </div> <!-- /container -->

</div>
