<header id='header' style="-webkit-transform: none;">
  <div class='header1'>
      <a class="js-use-pushstate" id="logo" href="http://www.salesramp.io" target="_blank">
        Falcon Moonshoot
      </a>
      <nav class='hide-on-mobile' id='primaryNavigation'>
         <ul class="nav navbar-nav nav-falcon">
           <!--<li ng-hide='isSearchActive' ui-sref-active="active1"><a ui-sref="timeline">Timeline</a></li>-->
           <li ui-sref-active="active1"><a ui-sref="main">Home</a></li>
           <li ui-sref-active="active1"><a ui-sref="analytics">Analytics</a></li>
           <!--<li ng-hide='isSearchActive' ui-sref-active="active1"><a ui-sref="competitions">Competitions</a></li>-->
         </ul>
      </nav>
  </div>
</header>