<div class="" ng-controller="AnalyticsPageCtrl" style="padding-top: 50px;">
    <div class="col-md-4">
    <h1>Total Falcons</h1>
    <h1 style="color: white; background-color: #777777; display: inline-block; padding: 10px 20px; border-radius: 50px; width: 120px; font-size: 60px; text-align: center;">{{totalFalcons}}</h1>
    <h1>Total Moonshots</h1>
    <h1 style="color: white; background-color: #777777; display: inline-block; padding: 10px 20px; border-radius: 50px; width: 120px; font-size: 60px; text-align: center;">{{totalMoonshots}}</h1>
    <h1>Total Minutes</h1>
    <h1 style="color: white; background-color: #777777; display: inline-block; padding: 10px 20px; border-radius: 50px; width: 120px; font-size: 60px; text-align: center;">{{totalMinutes}}</h1>
    </div>
    <div class="col-md-8">
    <h1>Latest Activity</h1>
    <ul ng-repeat="logEvent in logEvents | limitTo:eventLimit">
      <li>{{logEvent.event_type}} &middot; {{logEvent.event_time | amDifference : null : 'minutes' }} mins ago &middot;  {{logEvent.event_user}}</li>
    </ul>

    </div>
