<div style='padding-top:50px'class="container">
  <div class="row">
    <div class="col-lg-8">
      <h3 tooltip='a moonshot is a great way to communicate with customers and prospects' class="page-header">1. Record a Video:</h3>

    </div>
    <div class="col-lg-4">
      <h3 class="page-header">2. Select Contacts:</h1>
      <ul>
        <li ng-repeat='contact in contacts'>
          <input type='checkbox' /> {{contact.name}}
        </li>
    </div>
  </div>
  <div class="row">
    <div class='col-lg-12'>
      <div class='text-center'>
        <button class='btn btn-primary' ng-click='sendVideo()'>Send a Falcon</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-lg-12'>
      <h3 class="page-header">My Studio:</h1>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Falcon Moonshoot |
        <a href="https://twitter.com/tyhenkel">@falconMoonshoot</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Made with Love in NYC</a></p>
  </div>
</footer>
