<div style='padding-top:50px'class="container">
  <div class="row">
    <div class="col-lg-8">
      <h3 tooltip='A moonshoot is a great way to communicate with customers and prospects' class="page-header">1. Record a Video:</h3>
      <ziggeo ziggeo-width=320 ziggeo-height=240 ziggeo-meta_profile = "bc1cd9329d4776dffe0609004fe397d4"></ziggeo>
    </div>
    <div class="col-lg-4">
      <h3 class="page-header">2. Select Contacts:</h1>
      <ul>
        <li class='falconstyle' ng-repeat='contact in contacts'>
          <input type="checkbox" checklist-model="selectedUsers" checklist-value="contact.name" type='checkbox' /> {{contact.name}}
        </li>
        <div> Total: ({{selectedUsers}})
      </ul>
    </div>
  </div>
  <div class="row">
    <div class='col-lg-12'>
      <div class='text-center' style='padding-top:45px;'>
        <button style="font-size:32px;font-weight:300;" class='btn btn-primary' ng-click='sendVideo()'>Send a Falcon</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-lg-12'>
      <h3 class="page-header">My Studio:</h1>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Falcon Moonshoot |
        <a href="https://twitter.com/falconmoonshoot">@falconMoonshoot</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Made with Love in NYC</a></p>
  </div>
</footer>
