<div class="" ng-controller="LandingPageCtrl">
  <div class="container" style="padding-top:50px">
    <div class="row">
    <h2 class="page-header">You've received a Falcon from {{effortGuid.creatorGuid}}:</h2>
<!--
    Loading Personalized Video for GUID: {{effortGuid.name}} <br/>
    <br/>
    Video ID (from firebase) : {{effortGuid.videoGuid}} <br/>
    User ID (from firebase) : {{effortGuid.userGuid}} <br/>
    Status : {{effortGuid.status}} <br/>
    Other User Metadata: <br/>-->

    <div class='stylePlayer' id="player"></div>

    </div>
    <div class="row">
    <h2 class="page-header">Respond Back:</h2>
    <!--
    Loading Personalized Video for GUID: {{effortGuid.name}} <br/>
    <br/>
    Video ID (from firebase) : {{effortGuid.videoGuid}} <br/>
    User ID (from firebase) : {{effortGuid.userGuid}} <br/>
    Status : {{effortGuid.status}} <br/>
    Other User Metadata: <br/>-->

    <ziggeo class='stylePlayer'></ziggeo>
    </div> 
  </div>


</div>
<div id="player" ></div>